
<div class="home-container">

	<h2>Search flights</h2>

	<form action="/result">
		<label for="Origin">Origin</label>
		<input type="text" name="Origin" placeholder="Origin">
	
		<label for="Destination">Destination</label>
		<input type="text"  name="Destination" placeholder="Destination">
		
		<input type="submit" value="Search">
	</form>

</div>


