<h2>Search page coming soon</h2>

<form action="/result">
	Origin<p><input type="text" name="origin"></p>
	Destination<p><input type="text" name="destination"></p>
	<input type="submit" value="Search">
</form>
