/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	font-family: "Museo Sans", "Helvetica Neue", sans-serif;

}

.container {
	width: 800px;
	margin: 0 auto;
	padding: 0;
}

.home-container {
	margin: 20% auto;
	text-align: center;
}

a {
	font-size: 18px;
	text-decoration: none;
	color: gray;
	transition: color 0.2s ease-in-out;
	padding: 10px;
}

a:hover {
	color: #3cbc8d;
	background: white;

}
.global-nav {
	text-align: right;
	padding: 20px 0;
	a {
		margin-left: 20px;
		padding: 0 20px;
	}
}

input[type="submit"], button {
	font-size: 14px;
	padding: 10px 20px;
	min-width: 150px;
	transition: all 0.3s ease-in-out;
	color: white;
	background: #3cbc8d;
	border: 1px solid #3cbc8d;
	display: block;
}

input[type="submit"]:hover, button:hover {
	color: #3cbc8d;
	background: white;
	border: 1px solid #3cbc8d;
}



label {
	font-weight: 800;
	display: block;
	padding-top: 0px;
	padding-bottom: 0;

}

input[type='text'], input[type='password'] {
	background: white;
	margin: 5px auto;
	border: none;
	border: 1px inset gray;
	width: 200px;
	padding: 10px;
}